footer {
    width: 100%;
    background: inherit;
    border-top: 3px solid #fff;
    border-radius: 5px;
    margin-bottom: 10px;

    h3 {
        text-align: center;
        margin-block: 15px;
        font-size: 1.3em;
    }
}

.footer-content {
    display: flex;
}

.valign-wrapper {
    justify-content: center;
}

.newsletter {
    margin-left: 1rem;

    p {
        margin-left: 5%;
        width: 90%;
    }
}

input[type="text"]:not(.browser-default):focus:not([readonly]),
input[type="email"]:not(.browser-default):focus:not([readonly]),
.select-wrapper input.select-dropdown:focus {
    border-bottom: 1px solid #ff6e6a;
    -webkit-box-shadow: 0 1px 0 0 #ff6e6a;
    box-shadow: 0 1px 0 0 #ff6e6a;
}

input[type="date"] {
    cursor: text;

    &::-webkit-inner-spin-button,
    &::-webkit-calendar-picker-indicator {
        display: none;
        -webkit-appearance: none;
    }

    &:not(.browser-default):focus:not([readonly]) {
        border-bottom: 1px solid #ff6e6a;
        -webkit-box-shadow: 0 1px 0 0 #ff6e6a;
        box-shadow: 0 1px 0 0 #ff6e6a;

        & + label {
            color: #9e9e9e;
        }
    }
}

.dropdown-content {
    background-color: #161616;

    li {
        & > a,
        & > span {
            color: #ffffff;
        }
    }
}

.select-dropdown.dropdown-content {
    li {
        &:hover {
            background-color: rgba(255, 110, 106, 0.7);
        }
    }
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 10px;

    button {
        transition: all 0.5s ease;
        border-radius: 8px;
        background-color: rgb(229, 69, 65);

        &:hover {
            cursor: pointer;
            background-color: #ff6e6a;
        }

        &:focus {
            background-color: #ff6e6a;
        }
    }
}

.socialNetworks {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;

    span {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
        width: 50%;
    }

    img {
        width: 30px;
    }
}

.twitchHeightCorrection {
    width: 25px !important;
}

.fbHeightCorrection {
    width: 36px !important;
}

.bioware {
    width: 220px;
    margin-bottom: 5px;
    margin-left: 15px;
    max-width: 100%;
}

.EA {
    width: 50px;
    max-width: 100%;
}
