.header-navigation {
    background-color: $background;
    @include flexbox(row, flex-start, center);
    border-bottom: 3px solid #fff;
    border-radius: 5px;
    min-height: 90px;
    padding: 8px 25px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 9;
}

nav {
    background-color: $background;

    .sidenav-trigger {
        margin: 0;
    }
}

.navigation {
    li {
        a {
            color: #ffffff;
            font-size: 18px;
            text-decoration: none;

            &:hover {
                color: rgba(255, 255, 255, 0.7);
                transition: all 0.3s;
            }
        }
    }
}

.sidenav {
    background-color: rgba(0, 0, 0, 0.8);
    width: 40vw;

    li {
        &:first-child {
            margin-top: 2rem;
        }

        &:hover {
            background-color: rgba(85, 98, 112, 0.7);
        }

        & > a {
            font-size: 1.2rem;
            color: #ffffff;
        }
    }
}

.sidenav-overlay {
    background-color: rgba(0, 0, 0, 0);
}

.logoHeader {
    max-width: 200px;
    width: 100%;
    margin: 5px 0 5px 5px;
}
